@import 'prismjs/plugins/diff-highlight/prism-diff-highlight.css';
@import 'prismjs/themes/prism-tomorrow.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  display: block;
  height: 100%;
  color: white;
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}

h1 {
  font-size: 3rem;
}

@layer base {
  h2 {
    @apply mt-8 text-5xl;
  }
  p {
    @apply mt-4 text-xl;
  }
  ul {
    @apply mt-4 list-disc list-outside pl-8;
  }
  li {
    @apply mt-2;
  }
  a {
    @apply text-blue-400 underline;
  }
}
