/* Reset box-sizing to border-box for all elements */
* {
  box-sizing: border-box;
}

/* Remove margin and padding from all elements */
html,
body,
div,
span,
app-root,
app-header,
app-footer,
app-sidebar,
app-content,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li,
form,
label,
input,
button,
textarea {
  margin: 0;
  padding: 0;
}

/* Set font-size and line-height to 1 for all elements */
html,
body,
div,
span,
app-root,
app-header,
app-footer,
app-sidebar,
app-content,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li,
form,
label,
input,
button,
textarea {
  font-size: 1rem;
  line-height: 1;
}

/* Remove list-style from all lists */
ul,
ol {
  list-style: none;
}

/* Remove text-decoration from all links */
a {
  text-decoration: none;
}

/* Set the default cursor to pointer for all buttons */
button {
  cursor: pointer;
}

/* Set the base font size and line height */
html {
  font-size: 16px;
  line-height: 1.5;
}

/* Set the font family for the entire app */
body {
  font-family: 'Open Sans', sans-serif;
}

/* Set the font size and line height for headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: #f2f2f2;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

/* Set the font size and line height for paragraphs */
p {
  margin-bottom: 1rem;
  color: #f2f2f2;
}

/* Set the font size and line height for links */
a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: #0056b3;
  }
}

/* Set the font size and line height for lists */
ul,
ol {
  margin-bottom: 1rem;
}

li {
  margin-bottom: 0.5rem;
}

code {
  background-color: #435569;
  padding: 2px 4px;
  border-radius: 4px;
  box-shadow: 0 0 0px 1px #0056b3;
  font-weight: 100;
}
